
.productList {
    width: 90%;
    margin-top: 4em;
    display: inline-flex;
    justify-content: center;
    align-content: flex-start;
    gap: 1.5em;
    flex-wrap: wrap;
  } 
  
  .productContainer{
    flex: 1 20%;
  }
  
  .componentCart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 35vh;
  }
  
  .card_image {
    width: 16em; 
    height: 20em; 
    overflow: hidden;
  }
  
  .card_image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .product_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
    padding-top: 0.5em;
    margin-top: auto;
  }
  
  .product_info p {
    margin-top: 1em;
    font-size: 1.2em;
  }
  
  .productButton {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .count {
    display: flex;
    padding: 0.5em;
  }
  
  