  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    color: rgb(25, 23, 23);
    background-color: rgba(238, 238, 238, 0.759);
    width: 100%;
    position: fixed;
  }
  
  nav a {
    color: rgb(27, 27, 27);
    text-decoration: none;
  }


  /* Sidebar */
  
  .nav {
    width: 23em;
    position: fixed;
    z-index: 2;
    top: 3.4em;;
    background-color: rgb(255, 255, 255);
    height: 100%;
    overflow-y: scroll;
    transition: 0.5s;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav_open {
    right: 0;
  }

  .nav_closed {
    right: -320px;
  }

 button {
    background-color: transparent;
    border-color: transparent;
  }

  .cart {
    position: relative;
    cursor: pointer;
  }

  .flexCenter {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -10px;
    right: -10px;
    width: 1.5em;
    height: 1.5em;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
  }

  .product_cart {
    width: 80%;
  }

  .h1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    margin-left: 9em;
    padding-bottom: 1em;
  }

  .h1 span {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 0.5em;
  }
  

  .cartItems {
    display: flex;
    background-color: #bb1919;
  }

  .bagButton {
    position:relative;
    bottom:0;
  }

  .total {
    margin: 2em;
    font-size: 1em;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }

  .total label {
    font-size: 20px;
  }