.myBtn {
    background-color: #3d3d3d;
    color: aliceblue;
    height: 2.5rem;
    width: 11rem;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: none;
    transition: all 1s ease;


}

.myBtn:hover {
    background-color: #616060;
}