
* {
  margin: 0;
  text-align: center;
}

.information {
  display: block;
  text-align: start;
  padding: 0 2.5rem;
  color: #F1F3F4;
  width: 30rem;
  line-height: 2;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1px;
}

.banner {
  background-image: url('./images/dogs/oria-helion-2A6HjAW9k70-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 43.5rem;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Testing */

.content_center {
  display: flex;
  justify-content: center;
  margin: 2.5rem 4rem;
}

.body_testing {
  height: 35rem;
  background-image: url('./images/dogs/fernando-gago-BKFgweZi_TE-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
}

.text_testing {
  display: block;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem 2rem;
  line-height: 1.5;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1px;
  color: #F1F3F4;
}

.testing_button {
  background-color: #F1F3F4;
  border-radius: 2rem;
  height: 3rem;
  width: 8rem;
  font-size: 1rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-color: #F1F3F4;
  box-shadow: none;
  margin-top: 1rem;
}

/* Shop */

.pictures {
  height: 35rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.one {
  background-image: url('./images/dogs/jakub-dziubak-lO3CxluZk94-unsplash.jpg');
  margin-right: 0.5rem;
}

.two {
  background-image: url('./images/dogs/bill-stephan-og0C_9Mz6RA-unsplash.jpg');
  margin-left: 0.5rem;
}

.three {
  background-image: url('./images/dogs/laura-roberts-8esFgt0ZqGg-unsplash.jpg');
  margin-right: 0.5rem;
}

.four {
  background-image: url('./images/dogs/amy-humphries-TMEAnIqJHYs-unsplash.jpg');
  margin-left: 0.5rem;
}

.pictures_text {
  margin-top: 2.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

